.container
    position: fixed
    top: 0
    left: 0
    width: 20rem
    height: 100vh
    background: var(--grey-3)
    display: flex
    justify-content: center
    align-items: center



.links
    display: flex
    flex-flow: column
    align-items: flex-start
    justify-content: space-between
    height: 30rem
    margin-right: 3rem


.link
    transition: all .2s
    //-webkit-touch-callout: none
    //-webkit-user-select: none
    //-khtml-user-select: none
    //-moz-user-select: none
    //-ms-user-select: none
    //user-select: none
    -webkit-tap-highlight-color: transparent
    &:link, &:visited
        //-webkit-touch-callout: none
        //-webkit-user-select: none
        //-khtml-user-select: none
        //-moz-user-select: none
        //-ms-user-select: none
        //user-select: none
        color: var(--grey-1)
        text-decoration: none
        text-transform: uppercase
        font-size: 1.8rem

        justify-self: flex-end
    &:not(:last-child)
        margin-right: 2rem
    &:hover
        color: var(--grey-1)
        

//.insta
    //display: flex
    //align-items: center

.svg
    height: 1.8rem
    width: 1.8rem
    margin-bottom: -.3rem
    margin-left: 4rem
    //align-self: flex-end
    //position: relative
    //bottom: 0

.ham
    -webkit-tap-highlight-color: transparent
    align-self: center
    position: absolute
    top: 50vh
    left: 3rem
    transform: translateY(-50%)

    //display: block
    width: 4.5rem
    height: 2.5rem
    display: flex
    flex-flow: column
    justify-content: space-between
    transition: all .2s
    &:hover
        height: 4.55rem

.hamContent
    border-bottom: 3px solid var(--grey-3)
    &_1
        width: 90%
    &_2
        width: 100%
    &_3
        width: 70%

// ######### USELESS ###########

.menu
    transition: all .4s ease-out
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    //background: rgba(var(--grey-3), .7)
    background: var(--grey-3)
    opacity: .90
    z-index: 7000
    display: flex

    flex-flow: row-reverse

    justify-content: space-between
    align-items: center
    padding: 5rem
    .arrow
        width: 2rem
        height: 4rem
        transform: rotate(180deg)
    .links
        display: flex
        flex-flow: column
        justify-content: center

        align-items: flex-start

    .link
        opacity: 1
        font-size: 3rem
        //align-self: center
        color: var(--grey-1)
        margin: 0
        &:link, &:visited
            color: var(--grey-1)
        &:not(:first-child)
            margin-top: 4rem
    .insta
        position: absolute

.hidden
    display: none
