.container
    background: var(--grey-1)
    min-height: 100vh
    width: 100vw
    padding: 5rem 10rem
    padding-top: 13rem


.current
    color: var(--grey-3)
    border-bottom: 2px solid var(--grey-3)

.children
    height: 100%
    width: 100%
