.nav
    padding: 5rem 10rem
    position: fixed

    width: 100%
    top: 0
    left: 0
    display: flex
    flex-flow: row
    //justify-content: space-between
    justify-content: center
    align-items: flex-end
    //margin-bottom: 5rem

    align-items: baseline
    transition: all .5s
    z-index: 6000

.shrink
    position: fixed

    top: 0
    left: 0
    width: 100%
    //background: var(--grey-1)
    padding: 3rem 10rem

.h1
    color: var(--grey-2)
    text-transform: uppercase
    font-weight: 400
    letter-spacing: -.08em
    font-size: 3rem
    transition: all .2s
    //&:link, &:visited
        //color: var(--grey-2)
        //text-decoration: none
    &:hover
        color: var(--grey-3)
        

.links
    display: flex
    align-items: flex-end


.link
    transition: all .2s
    //-webkit-touch-callout: none
    //-webkit-user-select: none
    //-khtml-user-select: none
    //-moz-user-select: none
    //-ms-user-select: none
    //user-select: none
    -webkit-tap-highlight-color: transparent
    &:link, &:visited
        //-webkit-touch-callout: none
        //-webkit-user-select: none
        //-khtml-user-select: none
        //-moz-user-select: none
        //-ms-user-select: none
        //user-select: none
        color: var(--grey-2)
        text-decoration: none
        text-transform: uppercase
        font-size: 1.8rem

        justify-self: flex-end
    &:not(:last-child)
        margin-right: 2rem
    &:hover
        color: var(--grey-3)
        

//.insta
    //display: flex
    //align-items: center

.svg
    height: 1.8rem
    width: 1.8rem
    margin-bottom: -.3rem
    margin-left: 4rem
    //align-self: flex-end
    //position: relative
    //bottom: 0

.ham
    -webkit-tap-highlight-color: transparent
    align-self: center
    position: absolute
    top: 50vh
    left: 3rem
    transform: translateY(-50%)

    //display: block
    width: 4.5rem
    height: 2.5rem
    display: flex
    flex-flow: column
    justify-content: space-between
    transition: all .2s
    &:hover
        height: 4.55rem

.hamContent
    border-bottom: 3px solid var(--grey-3)
    &_1
        width: 90%
    &_2
        width: 100%
    &_3
        width: 70%

.hidden
    display: none

.disable
    pointer-events: none

@media screen and (max-width: 80em)
  .nav
      padding: 3% 5%
      position: fixed

@media screen and (max-width: 40em)
    .nav
        justify-content: space-between
        align-items: center
    .ham
        position: relative
        top: 0
        left: 0
        transform: scale(.70)

