.container
    width: 100%
    height: 100%
.imgContainer
    height: 100%
.img
    height: 75vh //quiero utilizar 100% para que ocupe el resto pero no se como
    //width: 33vw

.container
    display: flex

.p
    //position: absolute
    width: 33%
    margin: auto
    color: var(--grey-3)
