.container
    width: 100%
    height: 100%
.imgContainer
    height: 100%
    max-width: 40%
.img
    //max-height: 75vh //quiero utilizar 100% para que ocupe el resto pero no se como
    max-height: 100%
    //width: 33vw
    max-width: 100%

.container
    display: flex
    justify-content: space-between
    align-items: center

.p
    //position: absolute
    text-indent: 1.5em
    width: 40%
    //margin: auto
    color: var(--grey-3)
    font-size: 2.4rem

@media screen and (max-width: 80em)
    .container
        background: red
    .imgContainer
        width: 65%
    .p
        width: 55%

@media screen and (max-width: 40em)
    .container
        
        display: flex
        justify-content: center
        align-items: center
    .imgContainer
        position: fixed
        top: 0
        left: 0
        height: 100%
        width: 100%
        max-width: 200vh
    .img
        height: 100%
        //width: 100%
        max-width: 200vh
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    .p
        position: relative
        width: 80%
        margin: auto
        //margin-top: 4rem
        color: var(--grey-1)
        font-size: 2.5rem

